{% extends "base.html" %}

{% block content %}
    {% if "инженер" in profession or "строитель" in profession %}
        <h2>Инженерные тренажеры</h2>
        <img src="{{ url_for('static', filename='img/engineer_spaceship.png') }}"
        alt="Здесь должна была быть картинка, но не нашлась">
    {% else %}
        <h2>Научные симуляторы </h2>
        <img src="{{ url_for('static', filename='img/scientific_spaceship.png') }}"
        alt="Здесь должна была быть картинка, но не нашлась">
    {% endif %}
{% endblock %}